*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{
    height: 97px;
    width: 97px;
}

.btnH{

    height: 97px;
    width: calc(97px * 2);
}

.btnV{

    height: calc(97px * 2);
    width: 97px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{

    width: 400px;
    height: 600px;
    border: 3px solid green;
}

.display{
    height: 100px;
    border: 3px solid black;
}

.keys{
    height: 500px;
    border: 3px solid black;
}

.top{
    display: flex;
    /* justify-content: space-between; */
}

.bottom{
    display: flex;
}

.numpad{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.right{
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
}
